
#panel01,#img01
{
padding:5px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
#panel01
{
padding:0px;
display:none;
background-color:#ffffff;
width:650px;
}


#panel02,#img02
{
padding:0px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
#panel02
{
padding:0px;
display:none;
background-color:#ffffff;
width:650px;
}

#panel03,#img03
{
padding:5px;
text-align:center;
background-color:#ffffff;
border:solid 1px #95A5A6;
}
#panel03
{
padding:0px;
display:none;
background-color:#ffffff;
width:650px;
}
