<html>
<head>
<meta http-equiv="Content-Language" content="th" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="content-Type" content="text/html; charset=window-874"> 
<meta http-equiv="content-Type" content="text/html; charset=tis-620"> 
<!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="..\Flat-UI-master\css\demo.css">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/docs.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/flat-ui.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/scrollbar.css ")">
<!-- Title -->    
<title>Human Information Processing Lab :: Login</title>

</head>

<body>

<!-- Page Header -->
<div style="padding-left:2em; padding-right:2em; background-color:#ECF0F1; font-family:Tahoma, 'Microsoft Sans Serif', AngsanaUPC, CordiaUPC" >

<br>
<p>Change Blindness ทำการศึกษาความสามารถในการมองเห็นการเปลี่ยนแปลงในสภาพแวดล้อมและวัตถุ</p>


<br><br>
<div style="font-size:15px">
<p>อ้างอิง</p>

<ul>
Matlin, M.W. (2009). Cognitive Psychology. John Wiley & Sons.</ul>

</div>

<br>







</body>
</html>
