@(questions : List[brownPeterson.Question],count : Integer,answerForm : Form[brownPeterson.Answer])
@header("Human Information Processing Lab :: Home Page")
<body>

<!-- Page Header -->
    <div class="">
          <h3 class="hipTitle"align="center" >Human Information Processing Lab</h3>
          <!-- Dashed line-->
          <div class="titleLine"></div>
    </div>
<div class="brownPeterson"></div>
<!-- Content -->
<div class="questionBox">
      <div align="center" class="questionWord" id="word1"></div>
      <div align="center" class="questionWord" id="word2"></div>
      <div align="center" class="questionWord" id="word3"></div>
</div>
<div class="rabbitContainer">
  <div id="hopRabbit"class="rabbit"></div>
  <div id="cloud" class="clouds"></div>
  <div id="counter" class="counterText" align="center">@count</div>
</div>
<div class="answerBox">
    
  <span class="headerBox">คำตอบ</span>
  <span class="headerNumberBox">ใส่ตัวเลข</span>
        <form action="@routes.BrownPeterson.renderShortTermMemoryBrownPetersonTaskExp()" method="post">
          <input class="inputBox" id = "text1" name = "firstWord" type="text" placeholder="      คำตอบ" disabled />
          <input class="inputBox" id = "text2" name = "secondWord" type="text" placeholder="      คำตอบ" disabled />
          <input class="inputBox" id = "text3" name = "thirdWord" type="text" placeholder="     คำตอบ" value="assh" disabled />
          <input class="inputNumberBox" id = "text4" name = "countdownResult" type="text" placeholder="  เลข" disabled />
          <input class="inputBox" id = "text5" name = "usedTime" type="text" disabled />
          <input type="submit" class="sbutton" disabled id="SubmitButton" value="ยืนยัน" onclick="return submitButtonClick()"/>
        </form>
</div>
@footer()
