@(user :User)
<html>
<head>
<meta http-equiv="Content-Language" content="th" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="content-Type" content="text/html; charset=window-874"> 
<meta http-equiv="content-Type" content="text/html; charset=tis-620"> 
<!-- CSS link -->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/demo.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/docs.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/flat-ui.css ")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/scrollbar.css ")">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>

<!-- Slide Image script -->
<script> 
$(document).ready(function(){
  $("#slide01").click(function(){
    $("#panel02").slideUp("fast");
	$("#panel03").slideUp("fast");
	$("#panel01").slideToggle("fast");
  });
});
</script>

<script> 
$(document).ready(function(){
  $("#slide02").click(function(){
	$("#panel01").slideUp("fast");
	$("#panel03").slideUp("fast");
    $("#panel02").slideToggle("fast");
  });
});
</script>

<script> 
$(document).ready(function(){
  $("#slide03").click(function(){
	$("#panel01").slideUp("fast");
	$("#panel02").slideUp("fast");
    $("#panel03").slideToggle("fast");
  });
});
</script>
<!-- Title -->    
<title>Human Information Processing Lab :: Home Page</title>
<div> @user.username </div>
</head>

<body>

<!-- Page Header -->
<center>

  <h3 style="color:#34495E; background:#BDC3C7; padding:20px 100px">Human Information Processing Lab</h3>
 <!-- Page Header Menu-->
  <h6 style="font-size:large; font-family:Tahoma, 'Microsoft Sans Serif', AngsanaUPC, CordiaUPC">
       <a href="#">หน้าแรก</a>&nbsp; | &nbsp;
       <a href="about_hip.html">เกี่่ยวกับ HIP Lab</a>&nbsp; | &nbsp;
       <a href="#">ผลการทดลอง</a>
  </h6>
  <!-- Dashed line-->
  <h4 style="color:34495E;; padding:0px 100px 0px 0px; border-color:#BDC3C7; border-bottom-style:dashed;"></h4>

<br>
<!-- Image Slide Menu -->
<table border="0" cellpadding="5">
<tr>

<!--Perception -->
<td align="center"><div class="tile" id="slide01" style="padding:20px 20px 30px 20px; border:none;size:200px 200px;"><img src="@routes.Assets.at("images/perception.png")" width="150" height="150"><br><br><br>
<a  id="slide01" class="btn btn-block btn-lg btn-primary">
<span class="fui-list"></span>&nbsp;&nbsp;Perception</a></div>
</div></td>

<!-- Attention -->
<td align="center"><div class="tile" id="slide02" style="padding:20px 20px 30px 20px; border:none; size:200px 200px;"><img src="@routes.Assets.at("images/attention.png")" width="150" height="150"><br><br><br>
<a  id="slide02" class="btn btn-block btn-lg btn-primary">
<span class="fui-list"></span>&nbsp;&nbsp;Short-Term Memory</a></div></td>

<!--Short-Term Memory -->
<td align="center"><div class="tile" id="slide03" style="padding:20px 20px 30px 20px; border:none;size:200px 200px;"><img src="@routes.Assets.at("images/shortmem.png")" width="150" height="150"><br><br><br>
<a  id="slide01" class="btn btn-block btn-lg btn-primary">
<span class="fui-list"></span>&nbsp;&nbsp;Attention</a></div></td>
</tr>
</table>

<br>
<!-- Perception Panel -->
<div id="panel01">
    <div style="font-size:large; padding:0px 0px 5px 0px; color:#FFFFFF; background-color:#95A5A6"><span class="fui-list"></span>&nbsp;&nbsp;Perception</div>
    <br>
    
    <div style="alignment-adjust:central">
<table align="center">
<tr>
<!--<td><a href="@routes.Application.perceptionSignalDetection()"><img src="@routes.Assets.at("images/signal_detection.png")" style="padding:0px 50px 0px 50px; width:80px; height:80px; border-width:0px"></a></td>--!>
<td><a href="@routes.Application.perceptioniChangeBlindness()"><img src="@routes.Assets.at("images/change_blindness.png")" style="padding:0px 50px 0px 50px; width:80px; height:80px; border-width:0px"></a></td>
<!--<td><a href="garner_interference_info.html"><img src="@routes.Assets.at("images/garner_interference.png")" style="padding:0px 50px 0px 50px; width:80px; height:80px; border-width:0px"></a></td>--!>
</tr>
<tr>
    <td align="center"><br><a href="@routes.Application.perceptioniChangeBlindness()">Change Blindness</a></td>  
   <!-- <td align="center"><br><a href="garner_interference_info.html">Garner Interference</a></td>--!>
</tr>
</table><br>
    </div>
    
</div>
<!-- Short-Term Memory Panel -->
<div id="panel02">
    <div style="font-size:large; padding:0px 0px 5px 0px; color:#FFFFFF; background-color:#95A5A6"><span class="fui-list"></span>&nbsp;&nbsp;Short-Term Memory</div>
    <br>
    
    <div style="alignment-adjust:central">
<table align="center">
<tr>
<td>    <a href="sternberg_search_info.html"><img src="@routes.Assets.at("images/sternberg_search.png")" style="padding:0px 50px 0px 50px; width:80px; height:80px; border-width:0px"></a> </td>
<td>    <a href="brown_peterson_info.html"><img src="@routes.Assets.at("images/brown_peterson.png")" style="padding:0px 50px 0px 50px; width:80px; height:80px; border-width:0px"></a></td>
</tr>
<tr>
    <td align="center"><br><a href="sternburg_search_info.html">Sternberg Search</a></td>  <td align="center"><br><a href="brown_peterson_info.html">Brown-Peterson Task</a></td>
</tr>
</table><br>
    </div>
</div>

<!-- Attention Panel -->
<div id="panel03">
    <div style="font-size:large; padding:0px 0px 5px 0px; color:#FFFFFF; background-color:#95A5A6"><span class="fui-list"></span>&nbsp;&nbsp;Attention</div>
    <br>
    
    <div style="alignment-adjust:central">
<table align="center">
<tr>
<td><a href="stroop_effect_info.html"><img src="@routes.Assets.at("images/stroop_effect.png")" style="padding:0px 50px 0px 50px; width:80px; height:80px; border-width:0px"></a></td>
<td><a href="attention_blink_info.html"><img src="@routes.Assets.at("images/attention_blink.png")" style="padding:0px 50px 0px 50px; width:80px; height:80px; border-width:0px"></a></td>
</tr>
<tr>
    <td align="center"><br><a href="stroop_effect_info.html">Stroop Effect</a></td>  <td align="center"><br><a href="attention_blink_info.html">Attention Blink</a></td>
</tr>
</table><br>
    </div>
</div>
  
<br>
<h4 style="color:#34495E; padding:10px 100px; border-color:#BDC3C7; border-top-style:dashed;"></h4>
<div style="color:#34495E; background:#BDC3C7; padding:20px 100px">
<normal >Department of Computer Science</normal> <br>
<small >Faculty of Science and Technology, Thammasat University</small> <br>


</center>
</body>
</html>
